;Global (application-wide) configuration values can be put under the
;[Environment] section, and accessed with Environment::GetProperty().


[DatabaseConnection]
db_adapter      = MySqlAdapter
db_host         = localhost
db_user         = username
db_pass         = password
default_db      = middle_earth

[ExceptionHandler]
error_log       = /var/log/nodemesh.log
error_email     = someone@example.com
